<h1> NEW TODO </h1>

<form method="post" action="/todos">
<label for = "description">Did you workout today?</label>
<div>
<span>Yes</span><input type ="radio" name="urgent" value="true" checked>
<span>No</span><input type ="radio" name="urgent" value="false">
<button>Submit</button>
</div>
<input name= "description"></input>
</form>

<a href="/todos">Go Back</a>