<form method="POST" action="/pirates">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name"></input>
  </div>
   <div>
    <label for="birthplace">Birthplace: </label>
    <input type="text" name="birthplace"></input>
  </div>
   <div>
    <label for="death_year">Death Year: </label>
    <input type="text" name="death_year"></input>
  </div>
   <div>
    <label for="base">Base: </label>
    <input type="text" name='base'></input>
  </div>
   <div>
    <label for="nickname">Nickname: </label>
    <input type="text" name="nickname"></input>
  </div>


  <button>Submit</button>
</form>